<div class="my-container">
  <div class="back-bar">
    <a class="back-btn" [routerLink]="['/init']">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
  </div>
  <div class="text">
    <div class="title">
      Register
    </div>
    <div class="description">
      Create your account
    </div>
  </div>
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="input-group">
      <div class="input-item username">
        <i class="fa-solid fa-user"></i>
        <input formControlName="userName" type="text" placeholder="Username">
      </div>
      <div class="input-item email">
        <i class="fa-solid fa-envelope"></i>
        <input formControlName="email" type="text" placeholder="Email">
      </div>
      <div class="input-item password">
        <i class="fa-solid fa-lock"></i>
        <input formControlName="password" type="password" placeholder="Password">
      </div>
    </div>
    <button class="register-btn" type="submit">
      REGISTER
    </button>
  </form>
</div>
