.layout
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mynav > a
{
  text-decoration: none;
  color: #000000;
  font-size: 7vmin;
}

.mycontent
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding-bottom: 20vmin;
}

.mynav
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vmin;
  background-color: #d2d485;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}
