<div class="my-container">
  <div *ngIf="isLoading" class="loading">
    <app-loading></app-loading>
  </div>

  <div class="top-bar">
    <div
      *ngIf="isSearching"
      class="back"
    >
      <i
        class="fa-solid fa-arrow-left"
        (click)="back()"
      ></i>
    </div>
    <div class="search">
      <input
        type="text"
        placeholder="Search"
        [(ngModel)]="searchKeywords"
        (keypress)="search($event)"
        (focus)="isSearching = true"
        (blur)="back()"
      >
    </div>
  </div>

  <google-map
    class="map"
    [options]="options"
    [center]="center"
    [zoom]="zoom"
  >
    <map-marker
      *ngFor="let markerPosition of markerPositions"
      [position]="markerPosition"
      [options]="markerOptions"
      (mapClick) = "clickMarker(markerPosition)"
    ></map-marker>
    <div
      *ngIf="isOpenDetailWindow"
      class="marker-info"
      [ngStyle]="{
        'height': isSpandInfoWindow ? '80%' : '55%'
      }"
    >
      <app-restaurant-info
        *ngIf="focusMarker"
        (close)="closeOpenWindow($event)"
        (spanOrclose)="spandInfo($event)"
        [resInfo]="focusMarker"
      ></app-restaurant-info>
    </div>
  </google-map>

</div>
